################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MalavStore/v15
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/MalavStore/bin
/MalavStore/obj/Debug
/MalavStoreDB/bin/Debug
/MalavStoreDB/obj/Debug
/packages
/MalavStoreDB/MalavStoreDB.sqlproj.user
/MalavStore/MalavStore.csproj.user
