<div class="row">
    <div class="col-xs-12">
        <div class="jumbotron">
            <h2>Welcome to ASP.NET MVC @ViewData["Version"] on @ViewData["Runtime"]!</h2>
        </div>
    </div>
    
</div>