@model MovieRental1.ViewModels.RandomMovieViewModel
@{
ViewBag .Title = " Random";
}

<h2>@Model.Movie.Name</h2>
@foreach(var customer in Model.Customers)
{
    <span>@customer.Id</span>
    @customer.Name<br/>
}